/*PCの場合*/
.pc { display:inline!important; }
.mb { display:none!important; }

@media screen and (max-width: 768px) {
/*タブレット、スマホの場合*/
.pc { display:none!important; }
.mb { display:inline!important; }
}

body {
  font-family: '游明朝 Medium', serif;
  text-align: center;
  font-size: 1em;
  line-height: 25px;
  background-image: url(../img/probg01.jpg);
  background-size: cover;
  overflow: hidden scroll;
  height: 100%;
}

.top img{
  width: 640px;
}

.container {
  text-align: center;
  width: 640px; /* コンテナの幅を調整 */
  margin: 0 auto; /* 水平方向に中央に配置 */
  /*border: 1px solid #e4cb8b; /* 枠線の太さと色を設定 */
  border-radius: 5px; /* 角の丸みを設定 */
  padding: 20px; /* コンテンツと枠線の間隔を設定 */
  margin-top: 20px; /* 上部の余白を追加 */
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
  margin-top: 0px;   
  font-size: 1em; 
  border-radius: 3px;
}

.button-row{
  text-align: center;
  background-image: url(../img/protarot640.png);
  background-size: cover;
  width: 640px;
  height: 245px;
  margin: 0 auto;   
}
.button-row img{
  width: 300px;
  margin: 0 auto;    
}

.title{
  color:white;
  background-color:#cfaf53;
  font-size: 1.5em;
}

@media screen and (max-width: 768px) {
  .pc { display:none!important; }
  .mb { display:inline!important; }

  .top img{
    width: 100%;
  }

  .container {
    width: 100%;
    
  }

  .button-row {
    width: 100%; 
    height: 180px;
    background-image: url(../img/protarot.png);

  }
  .button-row img {
    width: 250px;
  }
  .title{
  color:white;
  background-color:#cfaf53;
  font-size: 1.2em;
}
  h4{
    margin-top: 10px;
    margin-bottom: 10px;
  }
 h5{
  margin-bottom: 0px;
 }

}

  
h1{
  background-color: #cfaf53;
  color: white;
  margin-top: 0px;
  padding-top: 13px;
  margin-bottom: 0px;
}
h5{
  background-color: #cfaf53;
  color: white;
  margin-top: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
}

h4{
  color:#ac7b00;

}

.box{
  background-color: white;
  padding-bottom: 10px;
}
.input-group {
  display: flex;
  flex-direction: row; /* コンテンツを横に配置 */
  justify-content: center; /* 水平方向に中央寄せ */
  align-items: center; /* 垂直方向に中央揃え */
  gap: 10px; /* グループ間のスペース */
}

.input-row {
  display: flex;
  align-items: center;
  gap: 5px; /* 数字プルダウンとテキストの間隔を調整 */
}

.input-row select {
  margin: 0; /* 数字プルダウンの余白を削除 */
}


/* ボタンのスタイルを調整 */
.button-row button {
  margin-top: 25px;
  border: none;
  outline: none;
  background: transparent;
}

#talentText{
  margin-top: 0px;
}



.explanation{
  background-color: #fef8fc;
}

.tenmei{
 background-image: url(../img/probg02.jpg);
 background-size: cover;
}

#year,#month,#day{
  font-size: larger;
}